@font-face {
	font-family: wolfram;
	src: url(wolfram.ttf);
}

header {
	min-width: 100%;
	padding: 2px 0px 2px 0px;
	display: block;
	background-color: black;
	text-align: center;	
}

#logo{
	height: 100px;
	width: 100px;
	position: relative;
	float: left;
	z-index: 1;
	bottom: 118px;
	left: 20px;
}

#logob{
	height: 100px;
	width: 100px;
	float: right;
	z-index: 1;
	position: relative;
	bottom: 118px;
	right: 20px; 
}

h1:first-child {
	font-family: wolfram;
	font-size: 60px;
	color: white;
}

#links {
	z-index: 0;
	width: 100px;
	height: 500px;
}

#navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60px;
	z-index: 1;
}

li {
	padding: 2px 0px 2px 0px;
}
li a{
	font-family: wolfram;
	border: 2px solid black;
	display: inline-block;
	width: 65px;
	padding: 5px 8px 5px 5px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	text-align: center;
}

li a:hover {
	font-family: wolfram;
	background-color: #555;
	color: white;
}

table, th, td {
	border: 2px solid black;
	text-align: center;
	font-size: 20px;
	padding: 2px 4px 2px 4px;
}

th, td {
	padding: 10px;
}

#contact {
	position: relative;
	margin: auto;
	bottom: 400px;
}

#disabled {
	font-family: wolfram;
	background-color: black;
	color: white;
}

footer {
	position: fixed;
	padding: 8px;
	display: block;
	background-color: black;
	bottom: 0px;
	width: 100%;
	right: -2px;
	text-align: center;
	font-size: 12px;
	color: white;
}

#cnumber {
	font-size: 1em;
	color: black;
	background-color: white;
	text-align: center;
	margin: auto;
	height: 10%;
	bottom: 140px;
	float: center;
	position: relative;
}

#about {
	position: relative;
	bottom: 450px;
	margin: auto;
	text-align: center;
}

#about2 {
	background-color: white;
	color: black;
	font-size: 20px;
	position: relative;
	bottom: 390px;
	margin: auto;
	text-align: center;
	z-index: -1;
}

body {
	padding-bottom: 200px;
}

.band {
	padding: 0px 0px 10px 10px;
	position: relative;
	left: 150px;
	bottom: 300px;
}

#band {
	font-weight: normal;
	color: black;
	background-color: white;
	padding: 0px 0px 10px 10px;
	position: relative;
	text-indent: 20px;
}

#bandj {
	float: right;
	right: 350px;
	font-weight: normal;
	color: black;
	background-color: white;
	padding: 0px 0px 10px 10px;
	position: relative;
	text-indent: 20px;
}

#schecter {
	margin: auto;
	position: relative;
	height: 300px;
	width: 150px;
}


#search {
	overflow: hidden;
	background-color: gray;
	border: 1px solid black;
	display: inline-block;
	position: relative;
	bottom: 420px;
	width: 240px;
	height: 40px;
	float: right;
	padding: 10px 100px 5px 10px;
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

#searchbar {
	margin: auto;
	position: relative;
	float: right;
	left: 50px;
}
#submit {
	left: 45px;
	position: relative;
	float: right;
}

#expand {
	background-color: white;
    border: 1px dashed black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	position: relative;
	right: 28px;
	bottom: 62px;
}

#oops {
	position: relative;
	z-index: -1;
	bottom: 450px;
}

#oopss {
	position: relative;
	left: 400px;
	text-indent: 20px;
}

#where {
	font-family: ariel;
	font-size: 60px;
	position: relative;
	text-align: center;
	color: black;
}